@tailwind base;
@tailwind components;
@tailwind utilities;

.section{
  position: relative;
  height: 100vh;
  background-color: rgb(40, 19, 19);
}
.row{
  display: flex;
  


}
.box{
  max-width: 50%;
  color: bisque;
}
.img{
  margin-left: 300px;
}